<p id="notice"><%= notice %></p>

<h1>Log in</h1>

<%= form_for(:session) do |f| %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= f.submit "Log in" %>
<% end %>

<!--
<div class="content">
  <p>
  <%= form_tag sessions_path do %>
 Password: <%= text_field_tag :password %>
  <% end %>
  </p>
</div>
-->
