<p id="notice"><%= notice %></p>
<p id="error"><%= flash[:error] %></p>

<h1>  <%= @post.title %>  </h1>
<p>  <%= @post.published_at.strftime('%B %e, %Y') %>  </p>

<p>
  <%= markdown(@post.body) %>
</p>

<br>
<hr class="body-end">

<% @post.tags.each do |tag| %>
  <span class="tag"><%= link_to tag.name, tag_path(tag.name) %></span>
<% end %>

<h4> Comments </h4>
<%= render @post.comments %>
<%= render "personal_blog/comments/form" %>

<br>

<% if admin? %>
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Edit', edit_post_path(@post) %> |
<% end %>
<%= link_to 'Back', posts_path %>
