<p id="notice"><%= notice %></p>

<h1>  <%= @post.title %>  </h1>
<h6>  <%= @post.published_at %>  </h6>

<p>
  <%= markdown(@post.body) %>
</p>

<%= @post.all_tags %>

<br>

<%= render @post.comments %>
<%= render "personal_blog/comments/form" %>

<% if admin? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
<% end %>
